* {
  box-sizing: border-box;
}

body {
  background-color: #ffd2d2;
  margin: 0;
  padding: 2%;
  font-family: "Montserrat", serif;
  padding-top: 4%;
}

.back-button {
  margin: 2%;
  position: fixed;
  top: 10px;
  left: 10px;
  margin: 0;
  z-index: 1000;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 100%;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  margin-bottom: 2%;
}

.card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  background-color: #fddde6;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.phoneName {
  width: 33%;
  text-align: left;
  padding-left: 3%;
}

.card h1 {
  font-size: 4vw;
  color: #2D3651;
  font-weight: 400;
  padding-top: 30px;
}

.card p {
  font-size: 1.5vw;
  color: #2D3651;
  margin-top: -10%;
}

.card .price {
  font-size: 3.5vw;
  color: #2D3651;
  margin-top: 30px;
  font-weight: 500;
  border-bottom: 1px solid #2D3651;
  display: inline;
}

.card .info {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #2D3651;
  border-radius: 20px;
  width: 67%;
  padding: 10px;
}

.card .specs {
  padding: 5% 3%;
  width: 60%;
}

.card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

}
.iPimage {
  width: 40%;
  padding-top: 2%;
  padding-right: 5%;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card ul li {
  margin-bottom: 10px;
  font-size: 1.2vw;
  width: 100%;
  color: #2D3651;
}

select {
  font-size: 1vw;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #2D3651;
  border-radius: 5px;
  background-color: #fddde6;
  color: #2D3651;
  width: 30%;
  cursor:pointer;
}

select:focus {
  outline: none;
  border-color: #ff77b0;
  box-shadow: 0 0 5px rgba(255, 119, 176, 0.5);
}

.card img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
.card {
    flex-direction: column;
    align-items: center;
  }

.phoneName, 
.card .info{
    width: 90%;
    text-align: left;
    padding: 5%;
    padding-top: 0%;
  }

.info .specs {
    width: 100%;
  }
.iPimage {
    width: 100%;
    margin: auto;
    padding-right: 10%;
  }

.card h1 {
    font-size: 14vw;
  }

.card p {
    font-size: 5vw;
    margin-top: -15%;
  }

.card .price {
    font-size: 8vw;
  }

.card ul li {
    font-size: 2.5vw;
  }

select {
    font-size: 2vw;
    width: 30%;
  }
}

@media (max-width: 480px) {
body {
    padding: 5%;
    padding-top: 15%;
  }

.card {
    padding: 15px;
  }

.card h1 {
    font-size: 13vw;
  }

.card .info {
  border: none;
  /* border-top: 2px solid #2D3651; */
  border-radius: 0px;
}
.card p {
    font-size: 6vw;
  }

.card .price {
    font-size: 10vw;
  }

.card ul li {
    font-size: 4vw;
  }

.card .info {
    width: 100%;
    flex-direction: column;
    padding: 5%;
  }

.iPimage {
    width: 90%;
    margin: auto;
    padding: 5%;
    padding-right: 10%;
  }

select {
    font-size: 3.5vw;
    width: 40%;
  }
}
