*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

  /* DECLARING THE FONTS */
.titillium-web-black {
    font-family: "Titillium Web", serif;
    font-weight: 900;
    font-style: normal;
}

.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  font-style: normal;
}

/* FONTS */

body{
    min-height: 100vh;
    background: linear-gradient(to left, #fddde6, #ffd2d2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;

}

nav{
    background :linear-gradient(to left, #fddde6, #ffd2d2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 100px;
  }

/* #navbar{ try ifix nav bar sa taas
  position: sticky;
  top: 0px;
} */

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

nav li{
    height: 50px;
  }

nav a{
    height: 100%;
    padding: 30px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 550;
    display: flex;
    align-items: center;
    color: #2D3651;
    font-size: 110%;
  }

nav a:hover{
    font-weight: 600;
    text-shadow: 1px 1px 2px #2D3651; 
  }

.topnav a:active{
  color: white;
}

nav li:first-child{
    margin-right: auto;
    padding-left: 2%;
  }

.sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 40vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 20px;
  }

.sidebar li{
    width: 100%;
  }

.sidebar a{
    width: 100%;
  }

.menu-button{
    display: none;
  }

.hero {
  border: 0px solid black;
}

.heroTitle {
  /* border: 2px solid black;  */
  width: 50%; 
  height: auto; 
  box-sizing: border-box;
  padding: 10px;
  float: left;
  text-align: center;
}

p {
  font-family: "Montserrat", serif;
  font-size: 150%;
  color: #2D3651;
  width: 100%;
  height: auto;

}

#heroReadmore {
    border: 1px solid;
    border-radius: 30px;
    height: 100%;
    width: 50%;
    padding: 20px;
    text-decoration: none;
    font-weight: 550;
    align-items: center;
    color: #2D3651;
    background-color: transparent;
    font-size: 110%;
}

#heroReadmore:hover{
  background-color: black;
  color: white;
}

hr {
  border: none;
  height: 1px;
  background-color: #2D3651;
  width: 50%;
  margin: 20px auto; 
  display: none;
}

.ip16abt {
  /* border: 1px solid black; */
  box-sizing: border-box;
  width: 50%;
  /* height: auto; */
  padding: 10px;
  float: left;
  text-align: center;
}

#promax {
  font-size: 400%;
}

.vertiLine {
  height: 2px;
  width: 50px;
  transform: rotate(-90deg);
}

#proDes {
  width: 100%; 
  text-align: left; 
  padding-top: 5%; 
  color: #2D3651;
}


@media(max-width: 1024px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
    .heroTitle{
      float: none;
      width: 100%;
    }
    .ip16abt{
      float: none;
      width: 100%;
    }

    #description {
      font-size: 100%;
    }
    hr {
      display:block;
    }
    #promax {
      font-size: 250%;
    }
    #proDes {
      padding-left: 5%;
    }
  }

  @media(max-width: 400px){
    .sidebar{
      width: 50%;
    }
  }

h1{
    color: #2D3651;
    text-align: center;
}
